<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Humlicek</title>
</head>
<body>
        <h1>{{data.nadpis}}</h1>
        <h2>Data</h2>
    <table style="border: solid black 1px">
        <tbody>
            {% for item in data['data'] %}
                <tr style="border: solid black 1px"><td style="border: solid black 0px">{{ item }}</td></tr>
            {% endfor %}

        </tbody>
    </table>
    <h2>Datum</h2>
    <div class="container">
        {% for prvek in data['datum'] %}
            <td>{{prvek}}</td>
        {% endfor %}
    </div>
    <h2>Děti</h2>
    <div class="container">
        {% for prvek in data['deti'] %}
            <td>{{prvek}}</td>
        {% endfor %}

    </div>
    <h2>Nasobeni</h2>
        <table style="border: solid black 1px">
        <tbody>
            {% for item in data['10'] %}
                <tr style="border: solid black 1px"><td style="border: solid black 0px">{{ item }}</td></tr>
            {% endfor %}

        </tbody>
    </table>
    <h2>Auta</h2>
    <div class="container">
        {% for prvek in data['cars'] %}
            <td>{{prvek}}</td>
        {% endfor %}
    </div>

</body>
</html>
